.first-page-text{
  position: absolute;
  bottom: 70px;
  animation: MoveUpDown 3s linear infinite;
  animation-delay: 2s;
  color: white;
  text-shadow: 1px 0px 4px black;
  font-size: 20px;
}


@keyframes MoveUpDown {
  0%, 100% {
    bottom: 70px;
  }
  50% {
    bottom: 60px;
  }
}
